# Collingwood Intership Project
# Preprocessing

In [183]:
import pandas as pd

In [184]:
df = pd.read_excel(r"DA Internship project.xlsx", sheet_name="Sheet1")
df

,Team,Round,Home/Away,Final Score,Date,Day,Time,Venue,Actual Crowd,Season,Opposition,Win/Loss,Ladder Position,Games Won in last 5 played
0,Melbourne,1,Home,97.0,44636.0,Wednesday,0.798611,MCG,58002.0,2022,Western Bulldogs,Win,2,1.0
1,Western Bulldogs,1,Away,71.0,44636.0,Wednesday,0.798611,MCG,58002.0,2022,Melbourne,Loss,17,0.0
2,Carlton,1,Home,101.0,44637.0,Thursday,0.809028,MCG,72179.0,2022,Richmond,Win,5,1.0
3,Richmond,1,Away,76.0,44637.0,Thursday,0.809028,MCG,72179.0,2022,Carlton,Loss,14,0.0
4,St Kilda,1,Home,85.0,44638.0,Friday,0.826389,Docklands,40129.0,2022,Collingwood,Loss,12,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4561,North Melbourne,24,Away,104.0,40790.0,Sunday,0.194444,Docklands,32890.0,2011,Richmond,Win,9,NaN
4562,Essendon,24,Bye,NaN,NaN,NaN,NaN,NaN,NaN,2011,Bye,NaN,8,NaN
4563,Collingwood,0,NaN,NaN,43342.0,NaN,NaN,NaN,NaN,2019,NaN,NaN,NaN,NaN
4564,Collingwood,0,NaN,NaN,44428.0,NaN,NaN,NaN,NaN,2022,NaN,NaN,NaN,NaN
4565,Collingwood,0,NaN,NaN,44789.0,NaN,NaN,NaN,NaN,2023,NaN,NaN,NaN,NaN

## Renaming Columns

In [185]:
df = df.rename(columns={"Home/Away": "HomeAway", "Final Score": "FinalScore", "Actual Crowd": "ActualCrowd", "Win/Loss":"WinLoss", "Ladder Position":"LadderPosition", "Games Won in last 5 played": "Last5"})
df

,Team,Round,HomeAway,FinalScore,Date,Day,Time,Venue,ActualCrowd,Season,Opposition,WinLoss,LadderPosition,Last5
0,Melbourne,1,Home,97.0,44636.0,Wednesday,0.798611,MCG,58002.0,2022,Western Bulldogs,Win,2,1.0
1,Western Bulldogs,1,Away,71.0,44636.0,Wednesday,0.798611,MCG,58002.0,2022,Melbourne,Loss,17,0.0
2,Carlton,1,Home,101.0,44637.0,Thursday,0.809028,MCG,72179.0,2022,Richmond,Win,5,1.0
3,Richmond,1,Away,76.0,44637.0,Thursday,0.809028,MCG,72179.0,2022,Carlton,Loss,14,0.0
4,St Kilda,1,Home,85.0,44638.0,Friday,0.826389,Docklands,40129.0,2022,Collingwood,Loss,12,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4561,North Melbourne,24,Away,104.0,40790.0,Sunday,0.194444,Docklands,32890.0,2011,Richmond,Win,9,NaN
4562,Essendon,24,Bye,NaN,NaN,NaN,NaN,NaN,NaN,2011,Bye,NaN,8,NaN
4563,Collingwood,0,NaN,NaN,43342.0,NaN,NaN,NaN,NaN,2019,NaN,NaN,NaN,NaN
4564,Collingwood,0,NaN,NaN,44428.0,NaN,NaN,NaN,NaN,2022,NaN,NaN,NaN,NaN
4565,Collingwood,0,NaN,NaN,44789.0,NaN,NaN,NaN,NaN,2023,NaN,NaN,NaN,NaN

## Sorting inappropriate values
### Team

In [186]:
df.Team.value_counts()

Sydney                    263
North Melbourne           260
Fremantle                 259
Collingwood               258
Essendon                  257
Western Bulldogs          256
Port Adelaide             256
Brisbane Lions            255
Geelong                   255
Melbourne                 254
Richmond                  253
Hawthorn                  252
Carlton                   252
Gold Coast                252
St Kilda                  252
Adelaide                  252
West Coast                252
Greater Western Sydney    228
Name: Team, dtype: int64

### Round

In [187]:
df.Round.value_counts()

7                    207
3                    201
16                   200
4                    200
2                    200
23                   199
1                    197
18                   197
8                    197
20                   197
9                    197
11                   197
10                   197
19                   197
22                   197
5                    197
21                   197
6                    197
17                   197
15                   191
13                   186
12                   181
14                   179
24                    18
24                    17
Qualifying Final       9
Preliminary Final      4
Semi Final             4
Elimination Final      4
0                      3
Grand Final            2
Name: Round, dtype: int64

All values appear to be reasonable except round 0, we now look into whats happeing here:

In [188]:
df[df['Round'] == 0]

,Team,Round,HomeAway,FinalScore,Date,Day,Time,Venue,ActualCrowd,Season,Opposition,WinLoss,LadderPosition,Last5
4563,Collingwood,0,NaN,NaN,43342.0,NaN,NaN,NaN,NaN,2019,NaN,NaN,NaN,NaN
4564,Collingwood,0,NaN,NaN,44428.0,NaN,NaN,NaN,NaN,2022,NaN,NaN,NaN,NaN
4565,Collingwood,0,NaN,NaN,44789.0,NaN,NaN,NaN,NaN,2023,NaN,NaN,NaN,NaN

All of the above instances have no meanful data/ do not represent an actual match that has taken place, thus it is reasonable to remove these instances

In [189]:
df = df[df['Round'] != 0]
df.Round.value_counts()

7                    207
3                    201
4                    200
16                   200
2                    200
23                   199
19                   197
18                   197
8                    197
20                   197
9                    197
11                   197
1                    197
10                   197
5                    197
21                   197
6                    197
17                   197
22                   197
15                   191
13                   186
12                   181
14                   179
24                    18
24                    17
Qualifying Final       9
Preliminary Final      4
Semi Final             4
Elimination Final      4
Grand Final            2
Name: Round, dtype: int64

### Home/Away

In [190]:
df.HomeAway.value_counts()

Away    2267
Home    2260
Bye       34
Name: HomeAway, dtype: int64

Given that a team neither wins or losses if they have the bye, we can remove all instances of teams with the bye

In [191]:
df = df[df['HomeAway'] != 'Bye']
df.HomeAway.value_counts()

Away    2267
Home    2260
Name: HomeAway, dtype: int64

### Final Score

In [192]:
df[df['FinalScore'] < 0] # Not possible

Empty DataFrame
Columns: [Team, Round, HomeAway, FinalScore, Date, Day, Time, Venue, ActualCrowd, Season, Opposition, WinLoss, LadderPosition, Last5]
Index: []

In [193]:
df[df['FinalScore'] > 239] # Highest VFL/AFL score in history

Empty DataFrame
Columns: [Team, Round, HomeAway, FinalScore, Date, Day, Time, Venue, ActualCrowd, Season, Opposition, WinLoss, LadderPosition, Last5]
Index: []

In [194]:
df['FinalScore'] = df['FinalScore'].fillna('NaN')
df[df['FinalScore'] == 'NaN']

,Team,Round,HomeAway,FinalScore,Date,Day,Time,Venue,ActualCrowd,Season,Opposition,WinLoss,LadderPosition,Last5
1432,Port Adelaide,10,Home,NaN,0.0,Saturday,0.0,0,0.0,2018,Gold Coast,Loss,9,3.0
1433,Gold Coast,10,Away,NaN,0.0,Saturday,0.0,0,0.0,2018,Port Adelaide,Win,15,1.0
1466,Carlton,12,Home,NaN,0.0,Saturday,0.0,0,0.0,2018,Western Bulldogs,Loss,18,1.0
1467,Western Bulldogs,12,Away,NaN,0.0,Saturday,0.0,0,0.0,2018,Carlton,Win,14,2.0
1468,Hawthorn,12,Home,NaN,0.0,Saturday,0.0,0,0.0,2018,West Coast,Loss,11,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3970,Hawthorn,13,Away,NaN,NaN,Saturday,NaN,NaN,NaN,2012,Carlton,Loss,6,NaN
3971,Port Adelaide,13,Home,NaN,NaN,Saturday,NaN,NaN,NaN,2012,Richmond,Loss,15,NaN
3972,Richmond,13,Away,NaN,NaN,Saturday,NaN,NaN,NaN,2012,Port Adelaide,Loss,10,NaN
3973,St Kilda,13,Home,NaN,NaN,Saturday,NaN,NaN,NaN,2012,Gold Coast,Loss,8,NaN
3974,Gold Coast,13,Away,NaN,NaN,Saturday,NaN,NaN,NaN,2012,St Kilda,Loss,18,NaN

All of the above instances seem to be fake records, thus we will remove them

In [195]:
df = df[df['FinalScore'] != 'NaN']

### Date

In [196]:
df[df['Date'] == min(df['Date'])]

,Team,Round,HomeAway,FinalScore,Date,Day,Time,Venue,ActualCrowd,Season,Opposition,WinLoss,LadderPosition,Last5
4155,Carlton,1,Home,104.0,40626.0,Thursday,0.319444,MCG,60654.0,2011,Richmond,Win,3,NaN
4156,Richmond,1,Away,84.0,40626.0,Thursday,0.319444,MCG,60654.0,2011,Carlton,Win,15,NaN

In [197]:
df["Date"] = df["Date"] - 40626

Day 0 occurs on the 24th of march 2011, thus we can add the days after

In [198]:
basedate = pd.Timestamp('2011-3-24')
df['Date'] = pd.to_timedelta(df['Date'], unit='d') + basedate

### Day

In [199]:
df.Day.value_counts()

Saturday     2254
Sunday       1383
Friday        535
Thursday      145
Monday         70
Tuesday         8
Wednesday       6
Name: Day, dtype: int64

### Time

In [200]:
df['Time'] = round(df['Time']*24) # Rounding here because the minutes past the hour is assumed to be independent of a win or loss

In [201]:
df.Time.value_counts()

14.0    705
19.0    675
20.0    651
15.0    634
17.0    600
13.0    442
18.0    162
16.0    152
2.0     102
7.0      80
8.0      60
1.0      50
3.0      32
5.0      24
4.0      14
6.0       8
12.0      8
21.0      2
Name: Time, dtype: int64

Numbers greater than 12 are assumed to be in 24 hour time and the rest not as no afl game has ever been played before midday

In [202]:
df.loc[df["Time"]>=12, "Time"] -= 12
df.Time.value_counts()

2.0    807
7.0    755
8.0    711
3.0    666
5.0    624
1.0    492
6.0    170
4.0    166
0.0      8
9.0      2
Name: Time, dtype: int64

In [203]:
df[df['Time'] == 9]

,Team,Round,HomeAway,FinalScore,Date,Day,Time,Venue,ActualCrowd,Season,Opposition,WinLoss,LadderPosition,Last5
980,West Coast,9,Home,43.0,2023-05-12,Friday,9.0,Optus Stadium,36219.0,2023,Gold Coast,Loss,17,0.0
981,Gold Coast,9,Away,113.0,2023-05-12,Friday,9.0,Optus Stadium,36219.0,2023,West Coast,Win,11,3.0

9 is plausible for the time difference between Melbourne and Perth

In [204]:
df[df['Time'] == 0]

,Team,Round,HomeAway,FinalScore,Date,Day,Time,Venue,ActualCrowd,Season,Opposition,WinLoss,LadderPosition,Last5
110,Hawthorn,6,Home,68.0,2022-04-25,Monday,0.0,York Park,14107.0,2022,Sydney,Loss,9,2.0
111,Sydney,6,Away,109.0,2022-04-25,Monday,0.0,York Park,14107.0,2022,Hawthorn,Win,4,4.0
620,St Kilda,11,Home,69.0,2019-06-02,Sunday,0.0,Jianwan Stadium,9412.0,2019,Port Adelaide,Loss,12,1.0
621,Port Adelaide,11,Away,139.0,2019-06-02,Sunday,0.0,Jianwan Stadium,9412.0,2019,St Kilda,Win,7,2.0
1246,Port Adelaide,24,Home,94.0,2023-08-27,Sunday,0.0,Adelaide Oval,39860.0,2023,Richmond,Win,3,NaN
1247,Richmond,24,Away,63.0,2023-08-27,Sunday,0.0,Adelaide Oval,39860.0,2023,Port Adelaide,Loss,13,NaN
2943,Brisbane Lions,2,Home,68.0,2014-03-30,Sunday,0.0,Gabba,20933.0,2014,Geelong,Loss,15,NaN
2944,Geelong,2,Away,93.0,2014-03-30,Sunday,0.0,Gabba,20933.0,2014,Brisbane Lions,Win,4,NaN

All of these places are outside of victoria, hence due to time differences these times are plausible

### Venue

In [205]:
df.Venue.value_counts()

MCG                               1040
Docklands                          922
Adelaide Oval                      367
Subiaco                            304
Gabba                              252
Carrara                            198
S.C.G.                             150
Perth Stadium                      141
Kardinia Park                      122
Sydney Showground                  106
Football Park                       88
Marvel Stadium                      86
York Park                           70
SCG                                 67
Manuka Oval                         62
Bellerive Oval                      48
Optus Stadium                       46
Football                            42
Stadium Australia                   26
Marrara Oval                        24
GMHBA Stadium                       18
Metricon Stadium                    18
Kardina Park                        18
GIANTS Stadium                      16
Sydeny Show GroundS                 16
Cazaly's Stadium                    16
Traeger Park                        14
Eureka Stadium                      14
Kardinia                            14
Sydney Show Grounds                 12
University of Tasmania Stadium       8
York                                 8
Blundstone Arena                     8
Wellington                           6
Stadium                              6
Mars Stadium                         4
Â Subiaco                             4
Norwood Oval                         4
Bellervie Oval                       4
TIO Stadium                          4
Riverway Stadium                     2
Manuka                               2
Â Jiangwan Stadium                    2
TIO Traeger Park                     2
Jiangwan Stadium                     2
Varrara                              2
Marrara                              2
Adelaide                             2
Park                                 2
Jianwan Stadium                      2
Blacktown                            2
Cazaly's                             2
UTAS Stadium                         2
Adelaide Hills                       2
Name: Venue, dtype: int64

Some of the above values are duplicates that have been spelt wrong, hence we adjust the following:

In [206]:
df['Venue'] = df['Venue'].str.strip() # stripping white spaces infront of names
df["Venue"] = df["Venue"].replace("Kardina Park", "Kardinia Park")
df["Venue"] = df["Venue"].replace("Kardinia", "Kardinia Park")
df["Venue"] = df["Venue"].replace("GMHBA Stadium", "Kardinia Park")
df["Venue"] = df["Venue"].replace("Marvel Stadium", "Docklands")
df["Venue"] = df["Venue"].replace("S.C.G.", "SCG")
df["Venue"] = df["Venue"].replace("Optus Stadium", "Perth Stadium")
df["Venue"] = df["Venue"].replace("Football", "Football Park") # Assumption given it is the only oval with football in its name
df["Venue"] = df["Venue"].replace("Sydeny Show GroundS", "Sydney Showground")
df["Venue"] = df["Venue"].replace("GIANTS Stadium", "Sydney Showground")
df["Venue"] = df["Venue"].replace("Sydney Show Grounds", "Sydney Showground")
df["Venue"] = df["Venue"].replace("York", "York Park")
df["Venue"] = df["Venue"].replace("TIO Stadium", "Marrara Oval")
df["Venue"] = df["Venue"].replace("Marrara", "Marrara Oval")
df["Venue"] = df["Venue"].replace("UTAS Stadium", "York Park")
df["Venue"] = df["Venue"].replace("Manuka", "Manuka Oval")
df["Venue"] = df["Venue"].replace("Varrara", "Carrara")
df["Venue"] = df["Venue"].replace("Metricon Stadium", "Carrara")
df["Venue"] = df["Venue"].replace("Adelaide", "Adelaide Oval")
df["Venue"] = df["Venue"].replace("TIO Traeger Park", "Traeger Park")
df["Venue"] = df["Venue"].replace("Jianwan Stadium", "Jiangwan Stadium")
df["Venue"] = df["Venue"].replace("Cazaly's", "Cazaly's Stadium")
df["Venue"] = df["Venue"].replace("Bellervie Oval", "Bellerive Oval")
df["Venue"] = df["Venue"].replace("Mars Stadium", "Eureka Stadium")
df["Venue"] = df["Venue"].replace("University of Tasmania Stadium", "York Park")
df["Venue"] = df["Venue"].replace("Blundstone Arena", "Bellerive Oval")
df.Venue.value_counts()

MCG                  1040
Docklands            1008
Adelaide Oval         369
Subiaco               308
Gabba                 252
Carrara               218
SCG                   217
Perth Stadium         187
Kardinia Park         172
Sydney Showground     150
Football Park         130
York Park              88
Manuka Oval            64
Bellerive Oval         60
Marrara Oval           30
Stadium Australia      26
Eureka Stadium         18
Cazaly's Stadium       18
Traeger Park           16
Stadium                 6
Jiangwan Stadium        6
Wellington              6
Norwood Oval            4
Park                    2
Blacktown               2
Adelaide Hills          2
Riverway Stadium        2
Name: Venue, dtype: int64

In [207]:
df[df['Venue'] == "Stadium"]

,Team,Round,HomeAway,FinalScore,Date,Day,Time,Venue,ActualCrowd,Season,Opposition,WinLoss,LadderPosition,Last5
4184,Sydney,2,Home,98.0,2011-04-03,Sunday,2.0,Stadium,28082.0,2011,Essendon,Win,5,NaN
4185,Essendon,2,Away,93.0,2011-04-03,Sunday,2.0,Stadium,28082.0,2011,Sydney,Loss,6,NaN
4382,Sydney,14,Home,93.0,2011-06-25,Saturday,7.0,Stadium,38053.0,2011,Collingwood,Loss,6,NaN
4383,Collingwood,14,Away,99.0,2011-06-25,Saturday,7.0,Stadium,38053.0,2011,Sydney,Win,2,NaN
4522,Sydney,22,Home,83.0,2011-08-21,Sunday,1.0,Stadium,25025.0,2011,St Kilda,Win,7,NaN
4523,St Kilda,22,Away,68.0,2011-08-21,Sunday,1.0,Stadium,25025.0,2011,Sydney,Loss,6,NaN

Given all of these are with sydney as the home team we can assume that they are from stadium australia:

In [208]:
df["Venue"] = df["Venue"].replace("Stadium", "Stadium Australia")
df[df['Venue'] == "Park"]

,Team,Round,HomeAway,FinalScore,Date,Day,Time,Venue,ActualCrowd,Season,Opposition,WinLoss,LadderPosition,Last5
2035,Geelong,21,Home,80.0,2017-08-12,Saturday,2.0,Park,32266.0,2017,Richmond,Win,3,NaN
2036,Richmond,21,Away,66.0,2017-08-12,Saturday,2.0,Park,32266.0,2017,Geelong,Loss,4,NaN

Given this was a Geelong home game it is safe to assume it was at kadinia park:

In [209]:
df["Venue"] = df["Venue"].replace("Park", "Kardinia Park")
df.Venue.value_counts()

MCG                  1040
Docklands            1008
Adelaide Oval         369
Subiaco               308
Gabba                 252
Carrara               218
SCG                   217
Perth Stadium         187
Kardinia Park         174
Sydney Showground     150
Football Park         130
York Park              88
Manuka Oval            64
Bellerive Oval         60
Stadium Australia      32
Marrara Oval           30
Cazaly's Stadium       18
Eureka Stadium         18
Traeger Park           16
Jiangwan Stadium        6
Wellington              6
Norwood Oval            4
Adelaide Hills          2
Blacktown               2
Riverway Stadium        2
Name: Venue, dtype: int64

### Actual Crowd

In [210]:
df[df['ActualCrowd'] < 0] # Not possible

Empty DataFrame
Columns: [Team, Round, HomeAway, FinalScore, Date, Day, Time, Venue, ActualCrowd, Season, Opposition, WinLoss, LadderPosition, Last5]
Index: []

In [211]:
df[df['ActualCrowd'] > 100024] # MCG capacity

Empty DataFrame
Columns: [Team, Round, HomeAway, FinalScore, Date, Day, Time, Venue, ActualCrowd, Season, Opposition, WinLoss, LadderPosition, Last5]
Index: []

### Season

In [212]:
df.Season.value_counts()

2022    428
2023    426
2018    403
2012    396
2016    396
2013    396
2017    396
2014    396
2019    396
2015    394
2011    374
Name: Season, dtype: int64

### Opposition

In [213]:
df.Opposition.value_counts()

Melbourne                 258
Brisbane Lions            248
Port Adelaide             248
Geelong                   247
Sydney                    247
Fremantle                 247
North Melbourne           246
Collingwood               246
St Kilda                  246
Western Bulldogs          246
Richmond                  244
Carlton                   243
Hawthorn                  243
Gold Coast                243
Essendon                  243
West Coast                243
Adelaide                  242
Greater Western Sydney    221
Name: Opposition, dtype: int64

### Win Loss

In [214]:
df.WinLoss.value_counts()

Win     2207
Loss    2194
Name: WinLoss, dtype: int64

In [215]:
df = df.drop_duplicates()
df.WinLoss.value_counts()

Win     2196
Loss    2172
Name: WinLoss, dtype: int64

There should be the same amount of wins to loss', some duplicates have been removed, there is still as issue with there being more wins than losses, we will adress this in the feature engineering section of the project

### Ladder Position

In [216]:
df['LadderPosition'] = df['LadderPosition'].astype(str)
df.LadderPosition.value_counts()

14     247
12     246
4      246
1      246
6      245
3      244
8      244
17     244
13     243
5      243
16     243
2      241
7      241
9      240
11     240
10     240
15     237
18     220
nan     18
Name: LadderPosition, dtype: int64

In [217]:
df[df['LadderPosition'] == 'nan']

,Team,Round,HomeAway,FinalScore,Date,Day,Time,Venue,ActualCrowd,Season,Opposition,WinLoss,LadderPosition,Last5
405,Brisbane Lions,Elimination Final,Home,106.0,2022-09-01,Thursday,7.0,Gabba,35013.0,2022,Richmond,Win,nan,NaN
406,Richmond,Elimination Final,Away,104.0,2022-09-01,Thursday,7.0,Gabba,35013.0,2022,Brisbane Lions,Loss,nan,NaN
407,Melbourne,Qualifying Final,Home,69.0,2022-09-02,Friday,8.0,MCG,78377.0,2022,Sydney,Loss,nan,NaN
408,Sydney,Qualifying Final,Away,91.0,2022-09-02,Friday,8.0,MCG,78377.0,2022,Melbourne,Win,nan,NaN
414,Geelong,Qualifying Final,Home,78.0,2022-09-03,Saturday,5.0,MCG,91525.0,2022,Collingwood,Win,nan,NaN
415,Collingwood,Qualifying Final,Away,72.0,2022-09-03,Saturday,5.0,MCG,91525.0,2022,Geelong,Loss,nan,NaN
416,Fremantle,Elimination Final,Home,73.0,2022-09-03,Saturday,6.0,Perth Stadium,58982.0,2022,Western Bulldogs,Win,nan,NaN
417,Western Bulldogs,Elimination Final,Away,60.0,2022-09-03,Saturday,6.0,Perth Stadium,58982.0,2022,Fremantle,Loss,nan,NaN
418,Melbourne,Semi Final,Home,79.0,2022-09-09,Friday,8.0,MCG,62162.0,2022,Brisbane Lions,Loss,nan,NaN
419,Brisbane Lions,Semi Final,Away,92.0,2022-09-09,Friday,8.0,MCG,62162.0,2022,Melbourne,Win,nan,NaN
420,Collingwood,Semi Final,Home,79.0,2022-09-10,Saturday,7.0,MCG,90612.0,2022,Fremantle,Win,nan,NaN
421,Fremantle,Semi Final,Away,59.0,2022-09-10,Saturday,7.0,MCG,90612.0,2022,Collingwood,Loss,nan,NaN
422,Geelong,Preliminary Final,Home,120.0,2022-09-16,Friday,8.0,MCG,77677.0,2022,Brisbane Lions,Win,nan,NaN
423,Brisbane Lions,Preliminary Final,Away,49.0,2022-09-16,Friday,8.0,MCG,77677.0,2022,Geelong,Loss,nan,NaN
424,Sydney,Preliminary Final,Home,95.0,2022-09-17,Saturday,5.0,SCG,45608.0,2022,Collingwood,Win,nan,NaN
425,Collingwood,Preliminary Final,Away,94.0,2022-09-17,Saturday,5.0,SCG,45608.0,2022,Sydney,Loss,nan,NaN
426,Geelong,Grand Final,Home,133.0,2022-09-24,Saturday,2.0,MCG,100024.0,2022,Sydney,Win,nan,NaN
427,Sydney,Grand Final,Away,52.0,2022-09-24,Saturday,2.0,MCG,100024.0,2022,Geelong,Loss,nan,NaN

As 2022 is the only season with finals data, we will remove all of these instances as they would be considered outliers in the dataset

In [218]:
df = df[df['LadderPosition'] != 'nan']

### Last 5

In [219]:
df["Last5"] = df["Last5"].replace(6, 5)
print(df.size)
print(df[df['Last5'].isna()].size)

60900
40922

As majority of the data in this column is missing, we wont be able to do much with the column, however as this column is able to be found based on the rest of the dataset, we will later make this column

In [220]:
df = df.drop(columns=['Last5'])

## Adjusting Data Types

In [221]:
df.dtypes

Team                      object
Round                     object
HomeAway                  object
FinalScore                object
Date              datetime64[ns]
Day                       object
Time                     float64
Venue                     object
ActualCrowd              float64
Season                     int64
Opposition                object
WinLoss                   object
LadderPosition            object
dtype: object

In [222]:
df['FinalScore'] = df['FinalScore'].astype(int)
df['Time'] = df['Time'].astype(int)
df['ActualCrowd'] = df['ActualCrowd'].astype(int)
df['Season'] = df['Season'].astype(object)
df.dtypes

Team                      object
Round                     object
HomeAway                  object
FinalScore                 int64
Date              datetime64[ns]
Day                       object
Time                       int64
Venue                     object
ActualCrowd                int64
Season                    object
Opposition                object
WinLoss                   object
LadderPosition            object
dtype: object

In [223]:
df[df.isna().any(axis=1)]

Empty DataFrame
Columns: [Team, Round, HomeAway, FinalScore, Date, Day, Time, Venue, ActualCrowd, Season, Opposition, WinLoss, LadderPosition]
Index: []

In [224]:
df.reset_index(inplace=True, drop=True)

In [225]:
df.to_csv("AFL_Preprocessed.csv")